<div class="content">
  <h1 class="content__main_title">{{ mainTitle }}</h1>
  <div class="content__desc">{{ fullDescription }}</div>
  <form class="content__form">
    <div class="content__form__group">
      <input class="content__form__input" type="text" name="contact_name" id="contact_name" placeholder="Name" [(ngModel)]="name" required>
    </div>
    <div class="content__form__group">
      <input class="content__form__input" type="email" name="contact_email" id="contact_email" placeholder="E-mail" [(ngModel)]="email" required>
    </div>
    <div class="content__form__group">
      <input class="content__form__input" type="text" name="contact_phone" id="contact_phone" placeholder="Phone" [(ngModel)]="phone" required>
    </div>
    <div class="content__form__group">
      <textarea class="content__form__textarea" name="contact_body" id="contact_body" placeholder="Message" [(ngModel)]="message" required></textarea>
    </div>
    <div class="content__form__group">
      <button class="content__form__submit" type="submit" name="contact_submit" id="contact_submit" (click)="sendForm()">Send</button>
    </div>
  </form>
</div>
