body {
  font-family: 'Raleway', sans-serif;
  color: #4285f4;
  margin: 0;
  padding: 0;
}


.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #252627;
}


.sidebar {
  display: flex;
  width: 80px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: #181818;
}
