<nav class="sidebar__nav_head">
  <a class="sidebar__nav_head__link" rel="home" [routerLink]="['/']">BZ</a>
</nav>
<nav class="sidebar__nav_body">
  <ul class="sidebar__nav_body__list">
    <li class="sidebar__nav_body__list__item">
      <a class="sidebar__nav_body__list__item__link" rel="home" [routerLink]="['/home']" routerLinkActive="active">
        <span class="icon"><img src="assets/images/home.svg" alt="Home icon"></span>
        <span class="text">Home</span>
      </a>
    </li>
    <li class="sidebar__nav_body__list__item">
      <a class="sidebar__nav_body__list__item__link" rel="about" [routerLink]="['/about']" routerLinkActive="active">
        <span class="icon"><img src="assets/images/about.svg" alt="About icon"></span>
        <span class="text">About</span>
      </a>
    </li>
    <li class="sidebar__nav_body__list__item">
      <a class="sidebar__nav_body__list__item__link" rel="skills" [routerLink]="['/skills']" routerLinkActive="active">
        <span class="icon"><img src="assets/images/skills.svg" alt="Skills icon"></span>
        <span class="text">Skills</span>
      </a>
    </li>
    <li class="sidebar__nav_body__list__item">
      <a class="sidebar__nav_body__list__item__link" rel="my-work" [routerLink]="['/my-work']" routerLinkActive="active">
        <span class="icon"><img src="assets/images/my_work.svg" alt="My work icon"></span>
        <span class="text">My work</span>
      </a>
    </li>
    <li class="sidebar__nav_body__list__item">
      <a class="sidebar__nav_body__list__item__link" rel="contact" [routerLink]="['/contact']" routerLinkActive="active">
        <span class="icon"><img src="assets/images/contact.svg" alt="Contact icon"></span>
        <span class="text">Contact</span>
      </a>
    </li>
  </ul>
</nav>
<nav class="sidebar__nav_foot">
  <ul class="sidebar__nav_foot__list">
    <li class="sidebar__nav_foot__list__item">
      <a href="{{ link_fb }}" target="_blank" class="sidebar__nav_foot__list__item__link">
        <img class="icon" src="assets/images/facebook-logo.svg" alt="Facebook icon">
      </a>
    </li>
    <li class="sidebar__nav_foot__list__item">
      <a href="{{ link_in }}" target="_blank" class="sidebar__nav_foot__list__item__link">
        <img class="icon" src="assets/images/linkedin-logo.svg" alt="Linkedin icon">
      </a>
    </li>
  </ul>
</nav>
